<ion-view title="Doação Material" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <div class="item item-input item-select">
        <div class="input-label">
          Instituição
        </div>
        <select ng-model="instituicaoSelecionada" ng-change="mudarStatus(instituicaoSelecionada)">
          <option value=""></option>
          <option ng-repeat="abrigo in abrigos" value="{{abrigo}}">{{abrigo.nome}}</option>
        </select>
      </div>
    </div>
    <h1 id="doaOMaterial-heading2" style="color:#000000;font-weight:600;" ng-if="instituicaoSelecionadaObject">Instituição escolhida: {{instituicaoSelecionadaObject.nome}}</h1>
    <h1 id="doaOMaterial-heading2" style="color:#000000;font-weight:600;" ng-if="!instituicaoSelecionadaObject">Instituição escolhida: {{instituicaoSelecionadaObject.nome}}</h1>
    <ion-list ng-if="instituicaoSelecionadaObject">
      <ion-item>Endereço: {{instituicaoSelecionadaObject.endereco}}</ion-item>
      <ion-item ng-repeat="tel in instituicaoSelecionadaObject.telefones">{{tel}}</ion-item>

    </ion-list>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <h3 id="doaOMaterial-heading3" style="color:#000000;font-weight:400;">Estoque</h3>
    <ion-list id="doaOMaterial-list2">
      <ion-item>Item
        <span class="item-note">Quantidade em estoque</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <button id="doaOMaterial-button8" class="button button-positive  button-block">Tap me!</button>
  </ion-content>
</ion-view>